<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="title">
        <h1>Anthea's Almanac</h1>
    </div>
    <div class="container">

        <div class="sidebar">
            <form method="GET">

                <!-- SEARCH -->
                <h3>Search</h3>
                <input type="text" name="search" value="{{selected_search|default:''}}">

                <!-- CATEGORIES -->
                <div class="categories-container">
                    <h3> Categories </h3>
                    {% for category in categories %}
                        <div>
                            <input type="checkbox" name="category" value="{{category.name}}" {% if category.name in selected_categories %} checked {% endif %}>
                            <label>{{category.name}}</label>
                        </div>
                    {% endfor %}
                </div>

                <!-- TAGS -->
                <div class="tags-container">
                    <h3> Tags </h3>
                    {% for tag in tags %}
                        <div>
                            <input type="checkbox" name="tag" value="{{tag.name}}" {% if tag.name in selected_tags %} checked {% endif %}>
                            <label>{{tag.name}}</label>
                        </div>
                    {% endfor %}
                </div>

                <button class="btn" type="submit">Apply</button>
                <button class="btn">
                    <a href="{% url 'home' %}" style="text-decoration: none; color: black;">Clear</a>
                </button>
                
            </form>
        </div>

        <!-- MAIN PRODUCT TABLE -->
        <div class="tmp">
            <table class="product-table">
                <thead>
                    <tr>
                        <th scope="col">
                            <h3>Baked Item!</h3>
                        </th>
                        <th scope="col">
                            <h3>Description</h3>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for product in products %}
                    <tr>
                        <td scope="row">{{product.name}}</td>
                        <td scope="row">{{product.description}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>