<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">

        <div class="sidebar">
            <form method="GET">

                <!-- SEARCH -->
                <h2>Search</h2>
                <input type="text" name="search" value="{{selected_search|default:''}}">

                <!-- CATEGORIES -->
                <div class="categories-container">
                    <div> Categories </div>
                    {% for category in categories %}
                        <div>
                            <input type="checkbox" name="category" value="{{category.name}}" {% if category.name in selected_categories %} checked {% endif %}>
                            <label>{{category.name}}</label>
                        </div>
                    {% endfor %}
                </div>

                <!-- TAGS -->
                <div class="tags-container">
                    <div> Tags </div>
                    {% for tag in tags %}
                        <div>
                            <input type="checkbox" name="tag" value="{{tag.name}}" {% if tag.name in selected_tags %} checked {% endif %}>
                            <label>{{tag.name}}</label>
                        </div>
                    {% endfor %}
                </div>

                <button type="submit">Apply</button>
                <a href="{% url 'home' %}" class="reset-button">clear</a>
            </form>
        </div>

        <!-- MAIN PRODUCT TABLE -->
        <div class="product-table">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Baked Item!</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>

                <tbody>
                    {% for product in products %}
                    <tr>
                        <td scope="row">{{product.name}}</td>
                        <td scope="row">{{product.description}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>