* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

.container {
    display: flex;
    gap: 30px;
}

.sidebar {
    width: 250px;
    padding: 20px;
    border: 1px solid black;
}

.categories-container {
    display: flex;
    flex-direction: column;
}

.tags-container {
    display: flex;
    flex-direction: column;
}

.product-table {
    border: 1px solid black;
    padding: 20px;
}