
:root {
    --green: #9caa5c;
    --maroon: #440103;
    --orange: #f9c251;
    --pink: #f59eb9;
    --plum: #957389;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: var(--pink);
    color: var(--maroon);
    height: 100vh;
}

.btn {
    background-color: var(--green);
    box-shadow: .75vh .75vh 0vh var(--plum);
    border: 1px solid var(--plum);
    border-radius: 8px;
    cursor: pointer;
    font-size: medium;
    margin-top: 25px;
    padding: 10px 15px;
    text-align: center;
}

.container {
    display: flex;
    height: 100%;
    gap: 50px;
    justify-content: center;
    margin: 30px;
}

.title {
    align-items: center;
    background-color: var(--orange);
    border: 2px solid var(--plum);
    border-radius: 20px;
    box-shadow: 2vh 2vh 0vh var(--plum);
    display: flex;
    justify-content: center;
    margin: 30px auto;
    padding: 10px;
    width: min(90%, 1000px);
}

.sidebar {
    background-color: var(--orange);
    box-shadow: 2vh 2vh 0vh var(--plum);
    border: 1px solid var(--plum);
    border-radius: 20px;
    display: flex;
    height: 90%;
    justify-content: center;
    padding: 20px;
    width: 200px;
}

.categories-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}

.tags-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}

.product-table {
    background-color: var(--orange);
    border: 1px solid var(--plum);
    border-spacing: 25px 10px;
    box-shadow: 2vh 2vh 0vh var(--plum);
    border-radius: 20px;
    height: 95%;
    min-height: 65vh;
    padding: 10px;
}